* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width:100%;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items: center;
    background-color: #000;
}

.ghost{
    animation: moveUpDown 3s infinite;
    position: absolute;
}


@keyframes moveUpDown {
    0%{margin-top:0px;}
    50%{margin-top:-50px;}
    100%{margin-top:0px;}
}


.ghost .body{
    width:120px;
    height:160px;
    background-color: #fff;
    border-top-left-radius: 45%;
    border-top-right-radius: 45%;
    position: relative;
}

.ghost .body .face{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 70px;
    position:absolute;
    top: 40px;
    left:50%;
    transform: translateX(-50%);
}

.ghost .body .face .eye{
    animation: blinkEye 1s infinite;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background-color: #333;
}

/*눈 깜박이는 애니메이션*/
@keyframes blinkEye {
    0%{height:19px}
    30%{
        margin-top: 14px;
        height:5px;
    }
    100%{height:19px}
}

.ghost .body .face .mouse{
    animation: mouthMove 5s infinite;
    position: absolute;
    width: 33px;
    height: 15px;
    background-color: #333;
    border-radius: 5px 5px 10px 10px;
    margin-left: 18px;
    margin-top: 23px;
}

/*입 움직이는 애니메이션*/
@keyframes mouthMove {
    0%{height:15px}
    50%{height:20px}
    100%{height:15px}
}

.ghost .bottom{
    display:flex;
}

.ghost .bottom .leg{
    background-color: #fff;
    width:24px;
    height: 15px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.ghost .bottom .leg:nth-child(2n){
    position: relative;
    top:-6px;
    background-color: #000;
    border-radius: 50%;
}
